/src/*.zip
/src/err
/src/packages
/src/.vs 
/src/Pulse.Api/bin
/src/Pulse.Api/obj
/src/Pulse.Core/bin
/src/Pulse.Core/obj
/src/Pulse.DataTransformationObjects/bin
/src/Pulse.DataTransformationObjects/obj
/src/Pulse.Infrastructure/bin
/src/Pulse.Infrastructure/obj
/src/Pulse.Services/bin
/src/Pulse.Services/obj
/src/Pulse.SharedUtilities/bin
/src/Pulse.SharedUtilities/obj
/src/Pulse.ViewModels/bin
/src/Pulse.ViewModels/obj
/src/Pulse.Web/bin
/src/Pulse.Web/logs
/src/Pulse.Web/obj
/src/Pulse.Auth.Identity/obj
/src/Pulse.DataTransformationObjects/bin
/src/Pulse.DataTransformationObjects/obj
/src/JwtKeyGenerator/bin
/src/JwtKeyGenerator/obj 
/src/Pulse.Auth.Identity/obj
/src/Pulse.Auth.Identity/bin 
/src/Pulse.Web/node_modules
src/Pulse.Api/Web.config
src/Pulse.Api/Web.Debug.config
src/Pulse.Api/Web.Release.config
src/Pulse.Web/Web.config
src/Pulse.Web/Web.Debug.config
src/Pulse.Web/Web.Release.config
/src/Pulse.Api/App_Data/Uploads
