<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <stClientConfig
    stLoginUrl="https://qa-intrasso.st.com"
    stLoginUrlPort=""
    stLogoutUrl="https://qa-intrasso.st.com/idp/startSLO.ping?TargetResource="
    stAppLoginUrl="https://pulse.qa.cal.st.com:44344/auth/login"
    stAdapterClientName="pulseqa"
    stAdapterScope="openid"
    stSecondaryHttpsPort="8443"
    stFallbackLoginEDLdapProviderURL="ldap-read.sgp.st.com:389,ldap.mua.st.com:389"
    stFallbackLoginSearchBase="ou=people,dc=st,dc=com"
    stFallbackLoginSearchAttribute="uid"
    stFallbackLoginContact="mailto:ictservicedesk@st.com"
    stAppCertPath="D:\Certificates\pulse.qa.cal.st.ccom\pulse.qa.cal.st.com.pfx"
    stAppCertPass="pulsepr0j.QA"
    xdt:Transform="SetAttributes(stLoginUrl,stLoginUrlPort,stLogoutUrl,stAppLoginUrl,stAdapterClientName,stAdapterScope,stSecondaryHttpsPort,stFallbackLoginEDLdapProviderURL,stFallbackLoginSearchBase,stFallbackLoginSearchAttribute,stFallbackLoginContact,stAppCertPath,stAppCertPass)" />

  <appSettings>
    <add key="cookie:Name" value="access_token" xdt:Transform="Insert" />
    <add key="cookie:HttpOnly" value="true" xdt:Transform="Insert" />
    <add key="cookie:Secure" value="true" xdt:Transform="Insert" />

    <add key="Jwt:Issuer" value="https://pulse.qa.cal.st.com:44344"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="Jwt:Audience" value="https://pulse.api.qa.cal.st.com:44345"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="api:rootpath" value="https://pulse.api.qa.cal.st.com:44345"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    <add key="web:rootpath" value="https://pulse.qa.cal.st.com:44344"
         xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />

    <add key="websso:logoutUrl1" xdt:Locator="Match(key)" xdt:Transform="Remove" />
    <add key="websso:logoutUrl" xdt:Locator="Match(key)" xdt:Transform="Remove" />
  </appSettings>

</configuration>