PULSE_DB_CONNECTION_STRING=DATA SOURCE=hostname:1521/servicename;PASSWORD=replace_me;PERSIST SECURITY INFO=True;USER ID=npitrack;Connection Timeout=30;Min Pool Size=10;Max Pool Size=150;Incr Pool Size=5;Decr Pool Size=2;Pooling=true;

PULSE_SMTP_HOST=smtpapp1.amk.st.com
PULSE_SMTP_PORT=25
PULSE_SMTP_FROM_ADDRESS=PulseAutoMailer@st.com
PULSE_SMTP_FROM_DISPLAY=Pulse Auto-Mailer
PULSE_SMTP_USE_TLS=false
PULSE_SMTP_USE_SSL=false

PULSE_WEB_BASE_URL=http://pulse.qa.cal.st.com
PULSE_CONSOLE_STATE_DB=.state/pulse-console.sqlite3
PULSE_DB_ORACLE_CLIENT_LIB_DIR=
