
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "New Plant";
    ViewBag.TitleIcon = "bi bi-plus-circle";
    ViewBag.SubTitle = "";
    ViewBag.IsActiveSitesPlants = "menu-open";
    ViewBag.IsActiveSitesPlantsNew = "active";
    ViewBag.SelectedMenu = "Sites";
}


<form id="plantForm" class="needs-validation" novalidate=""> 
    <!--begin::Row-->
    <div class="row">
        <div class="col-12">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class=" mb-3">
                        New Plant
                        <br />
                        <small style="font-size:12pt; font-weight:normal">Create new plant</small>
                    </h5>
                    <div class="form-group mb-3">
                        <label for="Code" class="form-label">Plant Code<span class="required-indicator sr-only"> (required)</span></label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="Code" name="Code" placeholder="Enter Valid Plant Code" required="">
                            <div class="invalid-feedback">Please provide a valid plant code.</div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="Name" class="form-label">Plant Name<span class="required-indicator sr-only"> (required)</span></label>
                        <div class="input-group has-validation">
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Plant Name" required="">
                            <div class="invalid-feedback">Please provide a plant name.</div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="siteImage" class="form-label">Banner Image</label>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="siteImage" accept=".jpg,image/jpeg">
                            <label class="input-group-text" for="siteImage">Upload</label>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <div class="  m-0 float-end">
                        <a href="@Url.Action("Index", "Sites", new { area = "" })" class="btn btn-default">Cancel</a> <button class="btn btn-success" type="submit">Save</button>
                    </div>
                </div>
                <!-- /.card-footer -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!--end::Row-->
</form>






@section scripts{
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/Areas/Sites/Scripts/plants/new.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict';

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation');

            // Loop over them and prevent submission
            Array.from(forms).forEach((form) => {
                form.addEventListener(
                    'submit',
                    (event) => {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated');
                    },
                    false,
                );
            });
        })();
    </script>
}
