<div class="row g-3 mb-3">
    <div class="col-md-12">
        <div class="form-floating">
            <input class="form-control" id="Name" name="Name" placeholder="Enter Roadmap Name" required>
            <label for="Name">Roadmap Name <span class="text-danger">*</span></label>
            <div class="invalid-feedback">Please provide a roadmap name.</div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-floating">
            <textarea class="form-control" id="Description" name="Description" placeholder="Enter Roadmap Description." style="height: 58px"></textarea>
            <label for="Description">Roadmap Description</label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-floating">
            <select class="form-select" id="Categories" required>
                <option></option>
            </select>
            <label for="Categories">Category <span class="text-danger">*</span></label>
            <div class="invalid-feedback">Please select a category.</div>
            
        </div>
    </div>
</div> 