<footer class="app-footer">
    <!--begin::To the end-->
    <div class="float-end d-none d-sm-inline pulse-footer-copy"><i class="bi bi-stars"></i><span>Keeping Your Projects on Track, Every Step of the Way.</span></div>
    <!--end::To the end-->
    <!--begin::Copyright-->
    <strong>
        Copyright &copy; @DateTime.Now.Year&nbsp;
        <a href="http://pulse.cal.st.com" class="text-decoration-none pulse-footer-brand">P.U.L.S.E</a>.
    </strong>
    All rights reserved.
    <!--end::Copyright-->
</footer>