
<nav class="app-header navbar navbar-expand bg-body">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Start Navbar Links-->
        @Html.Partial("_NavbarLinksStart")
        <!--end::Start Navbar Links-->
        <!--begin::End Navbar Links-->
        @Html.Partial("_NavbarLinksEnd")
        <!--end::End Navbar Links-->
    </div>
    <!--end::Container-->
</nav>