<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings> 
    <add key="cors-Origins"
         value="https://pulse.cal.st.com:44344"
         xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes(value)" />

    <add key="Jwt:Issuer"
         value="https://pulse.cal.st.com:44344"
         xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes(value)" />

    <add key="Jwt:Audience"
         value="https://pulse.api.cal.st.com"
         xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes(value)" />
  </appSettings>

</configuration>