<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 
  <appSettings>
    <add key="cors-Origins"
         value="https://pulse.qa.cal.st.com:44344"
         xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes(value)" />

    <add key="Jwt:Issuer"
         value="https://pulse.qa.cal.st.com:44344"
         xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes(value)" />

    <add key="Jwt:Audience"
         value="https://pulse.api.qa.cal.st.com:44345"
         xdt:Locator="Match(key)"
         xdt:Transform="SetAttributes(value)" />
  </appSettings>

  <system.web>
    <compilation
      debug="true"
      xdt:Transform="SetAttributes(debug)" />

    <customErrors mode="Off"
                  xdt:Transform="Insert" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"
             xdt:Transform="Insert">
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <remove name="WebDAV"
              xdt:Transform="Insert" />

      <add name="ExtensionlessUrlHandler-Integrated-4.0"
           path="*."
           verb="GET,HEAD,POST,DEBUG,PUT,DELETE,OPTIONS"
           type="System.Web.Handlers.TransferRequestHandler"
           resourceType="Unspecified"
           requireAccess="Script"
           preCondition="integratedMode,runtimeVersionv4.0"
           xdt:Locator="Match(name)"
           xdt:Transform="Replace" />
    </handlers>

    <security xdt:Transform="Insert">
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
        <verbs allowUnlisted="true" />
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>