<h5 class="fw-semibold mb-3">Form Details</h5>
<form id="formForm" class="needs-validation" novalidate>
    <div class="row g-3">
        <div class="col-md-6">
            <div class="form-floating">
                <input class="form-control" id="Name" name="Name" placeholder="Enter Form Name" required>
                <label for="Name">Form Name <span class="text-danger">*</span></label>
                <div class="invalid-feedback">Please provide a form name.</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating">
                <textarea class="form-control" id="Description" name="Description" placeholder="Enter form description." style="height: 58px"></textarea>
                <label for="Description">Form Description</label>
            </div>
        </div>
    </div>
</form>
